@using BibleVerse.DTO
@using Newtonsoft.Json
@using System.Web
@using Microsoft.AspNetCore.Http;
@{
    Layout = "../../Shared/_UserLayout.cshtml";
    bool notUser;
    Profiles userProfile = new Profiles();
    UserViewModel user = new UserViewModel();
    UserViewModel currUser = new UserViewModel();
    List<Posts> tlPosts = new List<Posts>();

    if (Context.Session.GetString("posts") != "No Posts Found")
    {
        tlPosts = JsonConvert.DeserializeObject<List<Posts>>(Context.Session.GetString("posts"));
    }

    string userRelationship = "";

    if (ViewBag.UserProfile != null && ViewBag.NotUser != null && ViewBag.UserViewModel != null)
    {
        notUser = true;
        userProfile = JsonConvert.DeserializeObject<Profiles>(ViewBag.UserProfile);
        user = JsonConvert.DeserializeObject<UserViewModel>(ViewBag.UserViewModel);

        if (ViewBag.RequestResult != null)
        {
            userRelationship = ViewBag.RequestResult;
        }

    }
    else
    {
        notUser = false;
        user = JsonConvert.DeserializeObject<UserViewModel>(Context.Session.GetString("user"));
        userProfile = JsonConvert.DeserializeObject<Profiles>(Context.Session.GetString("profile"));
    }


    ViewData["Title"] = user.UserName + " | BibleVerse";
}
    <div>
        @{
            if (notUser)
            {
                <div id="user_pp"><img src="@userProfile.Picture" /></div>

                <h1>@user.UserName</h1>
                <h2>Organization: @user.OrgName</h2>
                <h2 class="lead">Status: @user.Status</h2>
                <h3>Friends: @user.Friends</h3>
                <h3>Level: @user.Level</h3>

                @using (Html.BeginForm("ProcessRelationshipRequest", "BBV", FormMethod.Post))
                {
                    <input type="text" name="SecondUser" value="@user.UserName" hidden />

                    if (userRelationship.Contains("Cancel"))
                    {
                        <input type="submit" name="RequestType" value="@userRelationship" /> //Cancel Friend Request
                    }
                    else if (userRelationship.Contains("Accept"))
                    {
                        <input type="submit" name="RequestType" value="@userRelationship" /> //Accept Friend Request
                    }
                    else if (userRelationship != "")
                    {
                        <h3 style="color: blue;">@userRelationship</h3> // Display current relationship
                    }
                    else
                    {
                        <input type="submit" name="RequestType" value="Send friend request" />//Send Friend Request
                    }
                }
            }
            else
            {
                <div id="user_pp"><img src="@userProfile.Picture" /></div>
                @using (Html.BeginForm("ChangeProfilePic", "BBV", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input name="profilePic" type="file" />
                    <input type="Submit" value="Submit" />
                }
            }

            if (tlPosts != null)
            {
                foreach (Posts post in tlPosts)
                {
                    <div id="@post.PostId" class="post">
                        <span><a asp-action="Profile" asp-controller="BBV" asp-route-username="@post.Username"><b>@post.Username</b></a></span> <span>@post.CreateDateTime.TimeOfDay</span>
                        <br />

                        @{
                            if (post.Attachments != null)
                            {
                                List<PostsRelations> attachments = JsonConvert.DeserializeObject<List<PostsRelations>>(post.Attachments);

                                foreach (PostsRelations pr in attachments)
                                {
                                    if (pr.ContentType == "Photo")
                                    {
                                        <img src="@pr.Link" height="300" width="300" />
                                    }
                                    else
                                    {
                                        <video width="300" height="300" controls>
                                            <source src="@pr.Link" type="video/mp4">
                                        </video>
                                    }
                                }
                            }
                        }
                        <p>@post.Body</p>
                    </div>
                                    }
                                }
                            }
    </div>
                            